* {
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

:root {
  background: #fefefe;
  font-family: "Plus Jakarta Sans", sans-serif !important;
  color: #001c32;
}

.dots {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  transform: translate(0px, 0px);
}

.d1 {
  transform: rotate(0deg) translateX(80px);
  background: #001c32;
  animation: orbit1 2.5s ease-in-out infinite alternate;
  z-index: 10;
}

.d2 {
  transform: rotate(-90deg) translateX(80px);
  background: #001c32;
  animation: orbit2 2.5s ease-in-out infinite alternate;
  z-index: 8;
}

.d3 {
  transform: rotate(180deg) translateX(80px);
  background: #001c32;
  animation: orbit3 2.5s ease-in-out infinite alternate;
  z-index: 6;
}

.d4 {
  transform: rotate(90deg) translateX(80px);
  background: #001c32;
  animation: orbit4 2.5s ease-in-out infinite alternate;
  z-index: 4;
}

.d5 {
  transform: rotate(135deg) translateX(80px);
  background: #001c32;
  animation: orbit5 2.5s ease-in-out infinite alternate;
  z-index: 5;
}

.d6 {
  transform: rotate(225deg) translateX(80px);
  background: #001c32;
  animation: orbit6 2.5s ease-in-out infinite alternate;
  z-index: 7;
}

.d7 {
  transform: rotate(315deg) translateX(80px);
  background: #001c32;
  animation: orbit7 2.5s ease-in-out infinite alternate;
  z-index: 9;
}

.d8 {
  transform: rotate(405deg) translateX(80px);
  background: #001c32;
  animation: orbit8 2.5s ease-in-out infinite alternate;
  z-index: 3;
}

@keyframes orbit1 {
  0% {
    transform: rotate(0deg) translateX(80px) scale(1, 1);
  }

  100% {
    transform: rotate(360deg) translateX(0px) scale(1.2, 1.2);
  }
}

@keyframes orbit2 {
  0% {
    transform: rotate(-90deg) translateX(80px) scale(1, 1);
  }

  100% {
    transform: rotate(270deg) translateX(0px) scale(1.6, 1.6);
  }
}

@keyframes orbit3 {
  0% {
    transform: rotate(180deg) translateX(80px) scale(1, 1);
  }

  100% {
    transform: rotate(540deg) translateX(0px) scale(2, 2);
  }
}

@keyframes orbit4 {
  0% {
    transform: rotate(90deg) translateX(80px) scale(1, 1);
  }

  100% {
    transform: rotate(450deg) translateX(0px) scale(2.4, 2.4);
  }
}

@keyframes orbit5 {
  0% {
    transform: rotate(135deg) translateX(80px) scale(1, 1);
  }

  100% {
    transform: rotate(495deg) translateX(0px) scale(2.2, 2.2);
  }
}

@keyframes orbit6 {
  0% {
    transform: rotate(225deg) translateX(80px) scale(1, 1);
  }

  100% {
    transform: rotate(585deg) translateX(0px) scale(1.8, 1.8);
  }
}

@keyframes orbit7 {
  0% {
    transform: rotate(315deg) translateX(80px) scale(1, 1);
  }

  100% {
    transform: rotate(675deg) translateX(0px) scale(1.4, 1.4);
  }
}

@keyframes orbit8 {
  0% {
    transform: rotate(405deg) translateX(80px) scale(1, 1);
  }

  100% {
    transform: rotate(765deg) translateX(0px) scale(2.6, 2.6);
  }
}
